<!DOCTYPE html>
<html>
<head>
	<title>music recommend</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body style="background-color: #edffec;">

	<div class="title">
		<h1 class="display-4">Select Language</h1>
	</div>

	<form action="{{url_for('choose_singer')}}" method="POST">
		<label><input type="radio" name="language" value="punjabi" checked="true"><div class="box">punjabi</div></label>
		<label><input type="radio" name="language" value="english"><div class="box">english</div></label>
		<br>
		<label><input type="radio" name="language" value="hindi"><div class="box">hindi</div></label>
		<label><input type="radio" name="language" value="western"><div class="box">western</div></label>

		<br>
		<input type="submit" name="btn" value="next" class="btn btn-outline-success btn-lg">

	</form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>